---
layout: layouts/home.njk
permalink: /how-to-add-app/
---
<div class="bl-container">
  <a class="back-link" href="{{ '/' | url }}">< back</a>
</div>
<h1>Add Not 911 to your homescreen</h1>
<p>
  If you are using Safari on an iPhone, simply tap the share button.
</p>
<img class="ios-help-img" src="../img/share.jpeg" alt="Share button picture"/>
<br>
<p>
  Then select "Add to homescreen" from the menu.
</p>
<img class="ios-help-img" src="../img/add.jpeg" alt="Add button pic"/>
</p>