---
layout: layouts/home.njk
permalink: /drugs/
eleventyNavigation:
  key: Drugs and Poisoning
  order: 5
---
<div class="bl-container">
  <a class="back-link" href="{{ '/' | url }}">< back</a>
</div>
<h1>Drugs</h1>

{% set resourcelist = collections.drugs %}
{% include "resourcelist.njk" %}