---
layout: layouts/home.njk
permalink: /homelessness/
eleventyNavigation:
  key: Homelessness
  order: 6
---
<div class="bl-container">
  <a class="back-link" href="{{ '/' | url }}">< back</a>
</div>
<h1>Homelessness</h1>

{% set resourcelist = collections.homelessness %}
{% include "resourcelist.njk" %}