---
layout: layouts/home.njk
permalink: /mental-health/
eleventyNavigation:
  key: Mental Health
  order: 8
---

<h1>Mental Health</h1>

{% set resourcelist = collections.mental-health %}
{% include "resourcelist.njk" %}