---
layout: layouts/home.njk
permalink: /mental-health/
eleventyNavigation:
  key: Mental Health
  order: 8
---
<div class="bl-container">
  <a class="back-link" href="{{ '/' | url }}">< back</a>
</div>
<h1 class="collection-title">Mental Health</h1>

{% set resourcelist = collections.mental %}
{% include "resourcelist.njk" %}