---
layout: layouts/home.njk
permalink: /violence/
eleventyNavigation:
  key: Violence
  order: 4
---
<div class="bl-container">
  <a class="back-link" href="{{ '/' | url }}">< back</a>
</div>
<h1>Violence</h1>

{% set resourcelist = collections.violence %}
{% include "resourcelist.njk" %}