---
layout: layouts/home.njk
permalink: /violence/
eleventyNavigation:
  key: Violence
  order: 4
---

<h1>Violence</h1>

{% set resourcelist = collections.violence %}
{% include "resourcelist.njk" %}