{% for resource in resourcelist %}
  <h1>{{ resource.data.title }}</h1>
  <h2>{{ resource.data.description }}</h2>
  <p>{{ resource.data.hours }}</p>
  <p>{{ resource.data.phone }}</p>
  <br>
{% endfor %}